<h1>Authors list</h1>

<ul class="authors-list">
  {{#each model.authors as |author|}}
    <li>
      <img src="{{author.avatar}}" alt="">
      <span class="title">
        {{author.fullName}}
      </span>

      <span class="more-info">
        {{fa-icon "pencil-square-o"}}
        {{author.posts.length}} posts
      </span>

      {{#link-to "author" author.id}}
        View profile
        {{fa-icon "chevron-right"}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
