
<div class="layout-row layout-align-center-start">
  <div class="layout-row flex">
    <div class="flex-5"></div>

    <div class="flex layout-row layout-align-center-stretch layout-wrap">
      {{#each model as |author|}}

        {{#paper-card class="layout-column flex-100 flex-gt-xs-40 flex-gt-sm-30 flex-lg-20 flex" as |card|}}
          {{card.image src=author.avatar title=author.fullName}}
          <div class="flex layout-column">
            {{#card.title class="flex-nogrow" as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{author.fullName}}{{/text.headline}}
              {{/title.text}}
            {{/card.title}}

            {{#card.content class="flex-auto"}}
              <p>
                {{author.bio}}

                {{author.posts.length}} posts
              </p>
            {{/card.content}}

            {{#card.actions class="layout-row layout-wrap layout-align-start-center" as |actions|}}
              {{#actions.icons}}
                {{#paper-button iconButton=true}}{{paper-icon 'favorite'}}{{/paper-button}}
                {{#paper-button iconButton=true}}{{paper-icon 'share'}}{{/paper-button}}
              {{/actions.icons}}
              {{#paper-button}}
                {{#link-to "author" author.id}}Detail{{/link-to}}
              {{/paper-button}}
            {{/card.actions}}
          </div>
        {{/paper-card}}

      {{/each}}
    </div>
    <div class="flex-5"></div>
  </div>
</div>


<div class="layout-row layout-align-center-start">
  <div class="layout-row flex">
    <div class="flex-5"></div>
    <div class="flex layout-row layout-wrap">
      {{#each model as |author|}}
        <div class="flex-100 flex-gt-xs-30 flex-gt-sm-15 flex-lg-10 md-whiteframe-4dp" layout-margin>
          <img src="{{author.avatar}}" layout-fill alt="">

          <div class="layout-column" layout-padding>
            <span class="layout-row layout-align-center-center author-list-title">
              {{author.fullName}}
            </span>

            <span class="layout-row layout-align-center-center">
              {{fa-icon "pencil-square-o"}}
              <span class="post-count">{{author.posts.length}}</span> posts
            </span>

            {{fa-icon "times" click=(action "delete" author.id)}}

            {{#link-to "author" author.id}}
              View profile
              {{fa-icon "chevron-right"}}
            {{/link-to}}

            {{#if author.isDeleted}}
              <div class="loading">
                {{fa-icon "circle-o-notch" spin=true}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="flex-5"></div>
  </div>
</div>


<h1>Authors list</h1>

<ul class="authors-list">
  {{#each model as |author|}}
    <li>
      <img src="{{author.avatar}}" class="avatar" alt="">
      <span class="title">{{author.fullName}}</span>

      <span class="more-info">
        {{fa-icon "pencil-square-o"}}
        <span class="post-count">{{author.posts.length}}</span> posts
      </span>

      {{fa-icon "times" click=(action "delete" author.id)}}

      {{#link-to "author" author.id}}
        View profile
        {{fa-icon "chevron-right"}}
      {{/link-to}}

      {{#if author.isDeleted}}
        <div class="loading">
          {{fa-icon "circle-o-notch" spin=true}}
        </div>
      {{/if}}
    </li>
  {{/each}}
</ul>
