<div class="content">
  <h1>Authors list</h1>

  <ul class="authors-list">
    {{#each model as |author|}}
      <li>
        <img src="{{author.avatar}}" class="avatar" alt="">
        <span class="title">{{author.fullName}}</span>

        <span class="more-info">
          {{fa-icon "pencil-square-o"}}
          <span class="post-count">{{author.posts.length}}</span> posts
        </span>

        {{fa-icon "times" click=(action "delete" author.id)}}

        {{#link-to "author" author.id}}
          View profile
          {{fa-icon "chevron-right"}}
        {{/link-to}}

        {{#if author.isDeleted}}
          <div class="loading">
            {{fa-icon "circle-o-notch" spin=true}}
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
